* {
   background-color: rgba(21, 33, 39, 1);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.main-main {
    display: grid;
    grid-auto-flow: column;
    
}

.container {
    display: flex;
    background-color: transparent;
    height: 70%;
    width: 60%;
    gap: 1rem;
    /*grid-template-columns: repeat(2, 1fr 1fr);  */
    min-height: 100px;
    grid-auto-rows: minmax(150px, auto);
    margin-top: 20px;
    margin-left: 200px;

   
}

.contact-box {
    color: rgba(0, 255, 163, 0.45);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 600px;
    grid-column-start: 1;
    margin-left: 28%;
    margin-top: 2%;
}

.contact-txt {
    font-size: 48px;
}
.description-box {
    background-color: transparent;
    display: grid;
    grid-auto-flow: row;
    row-gap: 1rem;
    
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end:2 ;
    width: 350px;
    height: 280px;

}
.say-hi-box {
    background-color: transparent;
    color: white;
    height: 50px;
    width: 250px;
    
}
.say-hi-txt {
    background-color: transparent;
    font-size:40px;
}
.text-box {
    background-color: transparent;
    color: rgba(240, 248, 255, 0.514);
    width: 240px;

}
.text-txt {
    background-color: transparent;
    font-size: 18px;
}
.let-me-know-box {
    color: rgba(240, 248, 255, 0.514);
    background-color: transparent;
}
.let-me-know-txt {
    background-color: transparent;

}

.forms-box {
    background-color: transparent;
    display: grid;
    width: 400px;
    height: 390px;
    grid-template-columns: repeat(1, 1fr 1fr);
    gap: 0.5px;
    margin-top: 50px;
    margin-left: 120px;

}
.two-boxes {
    display: flex;
    background-color: transparent;
}
.names-box {
    background-color: transparent;
    height: 35px;
    width: 140px;
    grid-column-start: 1;
    grid-column-end: 2;
}
.names-box input{
    height: 30px;
    width: 140px;
    background-color: rgba(0, 24, 35, 1);
    border-radius: 10px;
    border-color:rgba(0, 255, 163, 0.45) ;
    box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.50);
    color: white;
    
}
.email-box {
    background-color: transparent;
    height: 35px;
    width: 165px;
    grid-column-start: 2;
}
.email-box input {
    height: 30px;
    width: 160px;
    background-color: rgba(0, 24, 35, 1);
    border-radius: 10px;
    border-color:rgba(0, 255, 163, 0.45) ;
    margin-left: 2px;
    box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.50);
    color: white;
}
.subject-box {
    background-color: transparent;
    height: 40px;
    width: 305px;
    grid-column-start: 1;
   
}
.subject-box input {
    height: 35px;
    width: 300px;
    background-color: rgba(0, 24, 35, 1);
    border-radius: 10px;
    border-color:rgba(0, 255, 163, 0.45) ;
    box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.50);
    color: white;
}
.message-box {
    background-color: transparent;
    height: 205px;
    width: 300px;
    grid-column-start: 1;
}
.message-box input {
    background-color: rgba(0, 24, 35, 1);
    border-radius: 10%;
    border-color:rgba(0, 255, 163, 0.45) ;
    width: 300px;
    height: 200px;
    box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.50);
    text-align: start;
    color: white;
}
.message-box input::placeholder{
    align-items: start;
}
.button {
    height: 80px;
    width: 100px;
    background-color: transparent;
    grid-column-start: 1;
    margin-left: 100px;
    
}
.button input {
    height: 35px;
    width: 73px;
    color: black;
    background-color: rgba(10, 145, 95, 0.699);
    border-radius: 8px;
    font-weight: bolder;
    letter-spacing: 1px;
    box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.50);
}
.button :active {
    height: 32px;
    width: 70px;
    color: aliceblue;
}
.button :hover {
    height: 38px;
    width: 76px;
}

/* NAVBAR STYLES */
.navbar-container {
    height: 450px;
    width: 200px;
    display: flex;
    align-items: right;
    justify-content: right;
    width: 15%;
    margin-top: 3%;
    margin-left: 200px;
    margin-bottom: 30px;
    background-color: transparent;
}

.navbar-container nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 5px;
    justify-content: flex-end;
    cursor: pointer;
    transition: ease-in-out all .3s;
}



.nav-icon-container i {
    color: #00FEA4;
    font-weight: 800;
    font-size: 1.2rem;
    background-color: #012939;
    padding: 12px 10.5px;
    border-radius: 50%;
}

.nav-icon-container h1 {
    pointer-events: none;
    opacity: 0;
}

.nav-icon-container:hover h1 {
    opacity: 1;
    transition: ease-in-out all .3s;
    padding: 4px 10px;
    border-radius: 20px;
    text-transform: uppercase;
   font-weight: 700px;
    font-size: 14px;
    background-color: #0E7AB4;
}

.nav-active {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0;
}

.nav-active i {
    color: #00FEA4;
    background-color: rgba(16, 121, 178, 1);;
    box-shadow: 0 0 0 3px rgba(0, 254, 164, .2);;
    z-index: 1;
}

.nav-active h1 {
    padding: 4px 10px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    background-color: #0E7AB4;
    opacity: 1;
    transform: translate(5px, 0);
}


.footer {
    width: 100%;
    height: 40px;
    background-color: rgba(0, 24, 35, 1);
    bottom: 0%;
    right: 0%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.copyright {
    color:rgba(240, 248, 255, 0.514);
    background-color: rgba(0, 24, 35, 1);
   
}
.copyrightBox {
    background-color: rgba(0, 24, 35, 1);
    text-align: right;
    justify-content: flex-end;
    padding: 0 30px;
}
.icons {
    width: 40%;
    display: flex;
    align-content: space-around;
    gap: 25px;
    background-color:rgba(0, 24, 35, 1) ;
}
.github-icon {
    width: 27px;
    height: 26px;
    background-color:  rgb(7, 76, 112);
    margin-left: 100px;
    border-radius: 47%;
}
.github-img {
    width: 21px;
    height: 21px;
    background-color:rgb(7, 76, 112);
    border-radius: 40%;
    margin-left: 3px;
    margin-top: 2px;
}
.slack-icon {
    width: 24px;
    height: 23px;
    background-color: rgb(7, 76, 112);
    border-radius: 47%;

}
.slack-img {
    width: 18px;
    height: 18px;
    background-color: rgb(7, 76, 112);
    border-radius: 40%;
    margin-top: 2px;
    margin-left: 3px;
}

.gmail-icon {
    width: 24px;
    height: 23px;
    background-color: rgb(7, 76, 112);
    border-radius: 47%;

}
.gmail-img {
    width: 18px;
    height: 18px;
    background-color: rgb(7, 76, 112);
    border-radius: 30%;
    margin-top: 2px;
    margin-left: 3px;
}

.insta-icon {
    width: 24px;
    height: 23px;
    background-color: rgb(7, 76, 112);
    border-radius: 47%;
}
.insta-img {
    width: 18px;
    height: 18px;
    background-color: rgb(7, 76, 112);
    border-radius: 30%;
    margin-top: 2px;
    margin-left: 3px;
}

.linkedin-icon {
    width: 24px;
    height: 23px;
    background-color: rgb(7, 76, 112);
    border-radius: 47%;
}
.linkedin-img {
    width: 15px;
    height: 15px;
    background-color: rgb(7, 76, 112);
    border-radius: 10%;
    margin-top: 2px;
    margin-left: 5px;
}