* {
    background-color: rgba(21, 33, 39, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

.container {
    display:flex;
    flex-direction: row;
   /* 
    grid-template-columns: repeat(2, 1fr 1fr); */  
    flex-flow: row;
    justify-content: left;
    align-items: left;

}
 
.description-box {
    background-color: transparent;
    display: grid;
    grid-auto-flow: row; 
    margin-left: 110px;
    margin-top: 110px;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end:2 ;
    width: 400px;
    height: 340px;

}

.title-box {
    background-color: transparent;
    height: 150px;
    width: 210px;
    display: flex;
    justify-content: right;
    align-items: right;
    margin-left: 50px;

}
.title-txt {
    color: rgba(0, 255, 163, 0.45);
    background-color: transparent;
    font-size: 45px;

}
.to-keep-box {
    background-color: transparent;
    height: 80px;
    width: 300px;

}
.to-keep-txt {
    color: white;
    background-color: transparent;
    font-size: 30px;

}

.text-box {
    background-color: transparent;
    height: 100px;
    width: 300px;
}
.text-txt {
    color: rgba(240, 248, 255, 0.514);
    background-color: transparent;
    font-size: 18px;
}


.form-box {
    width: 300px;
    height: 360px;
    border-radius: 10px;
    background-color: rgba(0, 24, 35, 1);
    color: aliceblue;
    margin-top: 130px;
    margin-left: 150px;
    gap: 5px;
    display: grid;
    border-color: rgba(14, 121, 178, 1);
    border-style: groove;
    box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.50);
    

}

.fname-box {
    background-color: transparent;
    height: 40px;
}
.fname-box input{
    height: 35px;
    width: 250px;
    background-color: rgba(0, 24, 35, 1);
    border-radius: 10px;
    border-color:rgba(0, 255, 163, 0.45) ;
    margin-left: 10px;
}
.fname-txt {
    background-color: transparent;
    font-size: 17px;
    margin-top: 20px;
}
.email-box {
    background-color: transparent;
    height: 40px;
}
.email-txt {
    margin-top: 10px;
    background-color: transparent;
    font-size: 17px;
}
.email-box input{
    height: 35px;
    width: 250px;
    background-color: rgba(0, 24, 35, 1);
    border-radius: 10px;
    border-color:rgba(0, 255, 163, 0.45) ;
    margin-left: 10px;
    
}
.password-box {
    background-color: transparent;
    height: 40px;
    
}
.password-txt {
    background-color: transparent;
    font-size: 17px;
}
.password-box input {
    height: 35px;
    width: 250px;
    background-color: rgba(0, 24, 35, 1);
    border-radius: 10px;
    border-color:rgba(0, 255, 163, 0.45) ;
    margin-left: 10px;
    
}
.button {
    background: transparent;
    height: 40px;
    width: 75px;
    margin-left: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.button input {
    height: 35px;
    width: 73px;
    color: black;
    background-color: rgba(10, 145, 95, 0.699);
    border-radius: 8px;
    font-weight: bolder;
    font-size: 15px;
    box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.50);
}
.admin-login-box {
    display: flex;
    width: 200px;
    height: 20px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    margin-left: 14%;
    font-size: 14px;
    color: gray;
    
}
.admin-login-box :hover {
    color: white;
    font-size: 15px;
}
.admin-login-box :active {
    color: black;
}
.admin-login-txt {
    color: gray;
    background-color: transparent;
}

/* NAVBAR STYLES */
.navbar-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    margin-top: 8%;
    margin-left: 13%;
}

.navbar-container nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 5px;
    justify-content: flex-end;
    cursor: pointer;
    transition: ease-in-out all .3s;
}

.nav-icon-container:hover {
    transform: translateX(5px);
}

.nav-icon-container i {
    color: #00FEA4;
    font-weight: 800;
    font-size: 1.2rem;
    background-color: #012939;
    padding: 12px 10.5px;
    border-radius: 50%;
}

.nav-icon-container h1 {
    pointer-events: none;
    opacity: 0;
}

.nav-icon-container:hover h1 {
    opacity: 1;
    transform: translateX(5px);
    transition: ease-in-out all .3s;
    padding: 4px 10px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    background-color: #0E7AB4;
}

.nav-active {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0;
}

.nav-active i {
    color: #00FEA4;
    background-color: rgba(16, 121, 178, 1);;
    box-shadow: 0 0 0 3px rgba(0, 254, 164, .2);;
    z-index: 1;
}

.nav-active h1 {
    padding: 4px 10px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    background-color: #0E7AB4;
    opacity: 1;
    transform: translate(5px, 0);
}



.footer {
    width: 100%;
    height: 40px;
    background-color: rgba(0, 24, 35, 1);
    bottom: 0%;
    right: 0%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.copyright {
    color:rgba(240, 248, 255, 0.514);
    background-color: rgba(0, 24, 35, 1);
   
}
.copyrightBox {
    background-color: rgba(0, 24, 35, 1);
    text-align: right;
    justify-content: flex-end;
    padding: 0 30px;
}
.icons {
    width: 40%;
    display: flex;
    align-content: space-around;
    gap: 25px;
    background-color:rgba(0, 24, 35, 1) ;
}
.github-icon {
    width: 27px;
    height: 26px;
    background-color:  rgb(7, 76, 112);
    margin-left: 100px;
    border-radius: 47%;
}
.github-img {
    width: 21px;
    height: 21px;
    background-color:rgb(7, 76, 112);
    border-radius: 40%;
    margin-left: 3px;
    margin-top: 2px;
}
.slack-icon {
    width: 24px;
    height: 23px;
    background-color: rgb(7, 76, 112);
    border-radius: 47%;

}
.slack-img {
    width: 18px;
    height: 18px;
    background-color: rgb(7, 76, 112);
    border-radius: 40%;
    margin-top: 2px;
    margin-left: 3px;
}

.gmail-icon {
    width: 24px;
    height: 23px;
    background-color: rgb(7, 76, 112);
    border-radius: 47%;

}
.gmail-img {
    width: 18px;
    height: 18px;
    background-color: rgb(7, 76, 112);
    border-radius: 30%;
    margin-top: 2px;
    margin-left: 3px;
}

.insta-icon {
    width: 24px;
    height: 23px;
    background-color: rgb(7, 76, 112);
    border-radius: 47%;
}
.insta-img {
    width: 18px;
    height: 18px;
    background-color: rgb(7, 76, 112);
    border-radius: 30%;
    margin-top: 2px;
    margin-left: 3px;
}

.linkedin-icon {
    width: 24px;
    height: 23px;
    background-color: rgb(7, 76, 112);
    border-radius: 47%;
}
.linkedin-img {
    width: 15px;
    height: 15px;
    background-color: rgb(7, 76, 112);
    border-radius: 10%;
    margin-top: 2px;
    margin-left: 5px;
}